version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: crm_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: intersys_laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"

  redis:
    image: redis:7
    container_name: crm_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: crm_app
    restart: unless-stopped
    volumes:
      - .:/var/www
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      APP_URL: http://localhost:8080
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: intersys_laravel
      DB_USERNAME: laravel
      DB_PASSWORD: laravel
      QUEUE_CONNECTION: database
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - mysql
      - redis

  nginx:
    image: nginx:latest
    container_name: crm_nginx
    ports:
      - "8090:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  node:
    build:
      context: .
      dockerfile: Dockerfile.node
    container_name: crm_node
    restart: unless-stopped
    volumes:
      - .:/var/www
      - /var/www/node_modules
    ports:
      - "5173:5173"

volumes:
  mysql_data:
  redis_data:
