services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www
    depends_on:
      mysql:
        condition: service_started
    volumes:
      - .:/var/www
    networks:
      - laravel
    command: >
      sh -c "
      php artisan key:generate --force &&
      php artisan config:clear &&
      php artisan cache:clear &&
      php artisan db:seed --force &&
      php-fpm
      "

  nginx:
    image: nginx:stable-alpine
    container_name: laravel_nginx
    restart: unless-stopped
    ports:
      - "5005:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  mysql:
    image: mysql:8.0
    container_name: laravel_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: intersys
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin123456
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db.sql:/docker-entrypoint-initdb.d/db.sql
    ports:
      - "3309:3306"
    networks:
      - laravel

volumes:
  mysql_data:

networks:
  laravel:
    driver: bridge